.each-job-card-list-container {
  padding: 10px;
  border-radius: 10px;
  background-color: #202020;
  margin-bottom: 15px;
}
@media screen and (min-width: 500px) {
  .each-job-card-list-container {
    width: 30%;
  }
}
.image-card {
  display: flex;
  align-items: flex-start;
}
.company-img {
  height: 40px;
}
.job-name-card {
  margin-left: 20px;
}
.rating-card {
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
}

.title {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.rating-img {
  color: yellow;
  margin-right: 5px;
}
.rating {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
}
.job-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.package-card {
  display: flex;
}
.location-card {
  display: flex;
  align-items: center;
}
.location-img {
  color: #ffffff;
}
.location {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 10px;
}
.description-head {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}
.description {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 10px;
  font-weight: 500;
  margin-top: 0px;
}
.package {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}
.employment-type {
  display: flex;
  justify-content: space-between;
}
.hr {
  background-color: lightblue;
  height: 1px;
  border: none;
}
.link-card {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.visit-icon {
  color: #6366f1;
}
.visit-text {
  color: #6366f1;
  font-family: 'Roboto';
  margin-right: 10px;
  font-weight: 500;
}
.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.life-head-text {
  color: #f8fafc;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 400;
}
.life-description {
  color: #f1f5f9;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 350;
}
